/*@import url(/dev/resources/css/style.css);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic,cyrillic-ext);




input {
    height: 35px !important;
    margin-top: 8px !important;
    background: white;
    padding: 0 8px !important;
}

input:focus{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.i-combo input.i-combo-keyword {
width: 99% !important;
height: 35px;
}

.i-combo-single{
    background: none;
}

.i-combo.i-combo-disabled .i-combo-single input,
div.calendar-div.disabled input.calendar-input {
    border-color: rgba(0, 0, 0, 0.15) !important;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: none;
}

.x-form-trigger-over{
   /* visibility: hidden !important; */
}

.i-combo-data{
    position: absolute;
}

.i-combo-data ul li {
    width: 99% !important;
    height: 35px !important;
    padding: 5px 0 8px 8px !important;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.i-combo-data ul li:first-child{
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.i-combo-data ul.i-combo-data-tall li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;
}
.i-combo-data ul li:last-child{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0 0 10px 10px;
        cursor: pointer;
}
.i-combo-data ul li.selected {
    background-color: rgba(240, 240, 240, 1);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.i-combo-data ul li {
}

input,
div.calendar-div input.calendar-input
 {
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}



iv.calendar-div.disabled input.calendar-input,
div.calendar-div input.calendar-input{
    width: 100px;
    height: 35px;
}

input.price-input {
    border: none;
    background: none;
    width: 100px;
    font-family: 'Days', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    margin-top: 0px !important;
    padding: 0 6px !important;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
    color: rgba(240, 240, 240, 1);
}

input:focus.price-input{
    box-shadow: none;
}

/* кнопки начало */

.button-container {
    display: table;
    width: 100%;
}

.button-container > span {
    display: table-cell;
}

.button-container .button {

}

.button-container .button input {
    position: relative;
    background: none;
    border: none;
    font-family: 'Days', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    padding: 0 6px !important;
    box-shadow: none;
        cursor: pointer;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
}

.button-container .button input:hover {
    box-shadow: none;
    color: rgba(240, 240, 240, 1);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.button-container .button input:active {
    top: 1px;
    box-shadow: none;
}

.button-container .button input:visited {
    box-shadow: none;
}

.contacts-section .button-container > span.line {
    background: url("../img/divider-line.png") 0 50% repeat-x;
}



/* кнопки конец */





form.form table {
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 1px;
}
form.form table tr{
    border-bottom: 1px solid #C7D4FF;
    height: 24px;
}
form.form table tr:first-child{
    border-top: 1px solid #C7D4FF;
}

table.buttons{
    border: 0;
    margin-top: 6px;
}
table.buttons tr{
    border: 0;
}
textarea{
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #99BCE8;
    margin-top: 1px;
    margin-bottom: -1px;
    color: #04408C;
    font-size: 8pt;
}
form.form input[readonly]{
    border: 1px solid #d7d2d6;
}


div.calendar-div.disabled a.calendar-trigger{
    display: none;
}
table.multicheckbox.disabled span.checkbox label, table.multicheckbox span.checkbox.disabled label{
    color: #b1b1b1;
}
.x-border-box .x-form-text {
    height: 19px;
}
.no-icon {
    display : none;
    background-image:url('/library/extjs4/resources/images/default/s.gif') !important;
    width: 0;
}
.mygrid .x-grid-row-selected td.x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div {
    background-color: #dfffdf !important;
    border-top: 1px solid #dfffdf;
    border-bottom: 1px solid #e0eeff;
}
.mygrid .x-grid-row-over td.x-grid-cell, .x-grid-row-over .x-grid-rowwrap-div {
    background-color: #ecffeb !important;
    border-top: 1px solid #ecffeb;
    border-bottom: 1px solid #e0eeff;
}
.x-panel-header-text-default{
    font-weight: normal !important;
}
.x-panel.menu .x-grid-cell.root-item{
    background-color: #D9E7F8!important;
    border-bottom: 1px solid #C8D6E7;
}
.x-panel.menu .x-grid-cell.cycle-0{
    border-bottom: 1px solid #e0eeff;
}
.x-panel.menu .x-grid-cell.cycle-1{
    border-bottom: 1px solid #e0eeff;
}
.x-panel.menu .x-grid-row-over.x-grid-tree-node-leaf td div{
    background-color: #ecffeb !important;
}
.top-center .x-panel-body {
    overflow: visible;
    z-index: 100;
    height: auto !important;
}
.top-center{
    height: auto !important;
    overflow: visible;
}
.trail-siblings{
    display: inline-block;
    height: auto;
    background: white;
    border: 1px solid #99BCE8;
    border-top: none;
    position: absolute;
    margin-left: -16px;
    margin-top: 16px;
    z-index: 101;
    /*padding: 0 2px 1px 4px;*/
}
.trail-siblings ul {
    margin-top: -1px;
}
/*.x-mask{z-index: 99 !important;}*/
.trail-siblings ul li:hover, .x-boundlist-list-ct ul li:hover{
    background-color: #ecffeb;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}
.x-css-shadow{
    display: none !important;
}
.x-boundlist-selected{
    background: #dfffdf !important;
}
.x-boundlist-item-over{
    background-color: #ecffeb !important;
}
.trail-siblings ul li a:hover{
    color: inherit !important;
}
.trail-siblings ul li, .x-boundlist-list-ct ul li{
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 0 2px 1px 4px;
    border-top: 1px solid #dfffdf;
}
.trail-siblings ul li a{
    width: 100%;
}

.x-panel.menu .x-grid-row-selected.x-grid-tree-node-leaf td div{
    background-color: #dfffdf !important;
}
.subsection-select .x-form-text{font-size:11px !important; height: 19px !important; line-height: 14px !important; color: #04408C;}
.subsection-select .x-form-trigger-wrap{margin-top: 1px;}
.subsection-select .x-form-trigger{height: 19px !important;}
.x-boundlist ul li {font-size: 11px;}
.x-btn-default-toolbar-small-over{
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    -khtml-border-radius: 0px !important;
    border-radius: 0px !important;
}
#trail a{text-decoration: none;}
#trail a:hover{color: #99BCE8}
.top-center .x-panel-body{
    background-color: #DFE8F6 !important;
}
.form .x-panel-body-default{
   /* background-color: #DFE8F6;*/
}


select{
    border: 0;
    height: 16px;
}
span.select{
    display: block;
    border: 1px solid #99BCE8;
}
input[type=text]{
    padding-left: 2px;
    padding-right: 2px;
    line-height: 19px;
}
controls{
    width: 100%;
}
.indi-engine-logo .x-panel-body-default{
    background: none;
}
.center-all > .x-panel-body-default{
    border: none;
}
.fast-search-keyword .x-form-text{
    color:  #04408C;
    font: 11px arial;
    height: 19px !important;
}
.x-fieldset-header-text{
    color:  #04408C;
    font: 10px arial;
    line-height: 8px;
}
.x-fieldset{
    border: 1px solid #99bce8;
}
.x-column-form-item label, .x-column-form-item td {
/*    width: auto !important;*/
}
.filter-field-label .x-panel-body label{
    color: #4c4c4c;
}
.filter-field-label .x-panel-body{
    border: 0;
    background: none;
    font-size: 11px;
    line-height: 15px;
    margin-top: 2px;
}
.filter-field .x-panel-body{
    border: 0;
    background: none;
    font-size: 11px;
    line-height: 15px;
}
.x-form-spinner-up{
    margin-top: -1px;
}
.x-form-trigger-wrap .x-form-spinner-up, .x-form-trigger-wrap .x-form-spinner-down{
    height: 9px !important;
}
.x-form-trigger-wrap .x-form-spinner-down{
    position: relative;
    top: 1px;
    background-position: 0 -13px;
}
.x-form-trigger-wrap-focus .x-form-spinner-down {
    position: relative;
    top: 1px;
    background-position: -51px -13px;
}
.x-form-trigger-wrap-focus .x-form-spinner-down-over {
    position: relative;
    top: 1px;
    background-position: -68px -13px !important;
}
.x-form-trigger-wrap .x-form-spinner-down-over {
    position: relative;
    top: 1px;
    background-position: -17px -13px;
}
.x-form-trigger-wrap .x-form-spinner-down-click {
    position: relative;
    background-position: -34px -13px !important;
    top: 1px;
}
.filter-field .x-panel-body{
    /*width: auto !important;*/
}
.filter-field-label{
    float: left;
}
.filter-field .fast-search-keyword{
    float: left;
}
.filter-field .subsection-select .x-form-trigger-wrap {
    margin-top: 0px;
}
.filter-field .calendar .x-form-trigger{
    height: 19px;
}
.filter-field .color .x-slider-horz,.filter-field .color .x-slider-horz .x-slider-end {
    background: none;
}
.filter-field .color .x-slider-horz .x-slider-inner {
    background: url('/i/admin/filter-slider-hue-bg.png') no-repeat 0px 3px;
}
.filter-field .color .x-slider-horz .x-slider-inner .x-slider-thumb:first-child {
    background-image: url(/i/admin/filter-slider-thumb-first.png);
}
.filter-field .color .x-slider-horz .x-slider-inner .x-slider-thumb:last-child {
    background-image: url(/i/admin/filter-slider-thumb-last.png);
}
.color-box{
    width: 14px;
    display: inline-block;
    height: 11px;
    position: relative;
    top: 1px;
}
.x-panel.top-center{
    z-index: 100;
}
.x-ie .x-fieldset .x-fieldset-body {
    padding-top: 0px !important;
}
.mygrid .disabled-row .x-grid-cell .x-grid-cell-inner, .disabled-row .x-grid-cell .x-grid-cell-inner font{
    color: lightgray !important;
}
.mygrid  .disabled-row.x-grid-row-over td.x-grid-cell, .x-grid-row-over .x-grid-rowwrap-div {
    background-color: white !important;
    border-color: #ededed;
    border-top-color: #fafafa;
}
.x-btn-default-toolbar-small {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
.main {
    font-size: 9pt; font-family: 'Cuprum', sans-serif
}
.menu {
    font-size: 8pt; font-family: 'Cuprum', sans-serif
}
.menu_dir {
    font-weight: bold
}
.menu_ico {
    padding-right: 9px; text-align: right
}
.content {
    padding-right: 12px; padding-left: 12px; padding-bottom: 20px; padding-top: 30px
}
.but_text {
    font-weight: bold; font-size: 8pt; color: #cc3300; font-family: 'Cuprum', sans-serif
}

.table_topics {
    font-size: 8pt; color: #596A8D; font-family: 'Cuprum', sans-serif; background-color: #DDFFE0;  border: 1px solid #C7D4FF;
}
.incorrectMessage {
    color: red; font-size: 12px; font-family: 'Cuprum', sans-serif; background-color: #ffdddd; border: 1px solid red; padding: 5px;
}
.title {
    font-weight: normal; font-size: 14pt; color: #000000; font-family: 'Cuprum', sans-serif; vertical-align: bottom; float: left;
}
.form_table {
	font-weight: normal; font-size: 12px; color: #000000; font-family: 'Cuprum', sans-serif;
}


textarea {
    font-weight: normal; font-size: 9pt; color: #000000; font-family: 'Cuprum', sans-serif
}
a:hover {
    text-decoration: none
}
select { font-size: 9pt;}

.pager
{
	font: 10pt arial;
	float: right; 
	display: inline;
	vertical-align: bottom;
	margin-top: 0px;
	position: relative;
	top: 7px;
}
.pager a
{
	width: 3px;
	text-decoration: none;
}
.pager a.current
{
	font: bold;
	text-decoration: none;
}
.listHeader{
	position: relative;
	display: block;
	width: 90%;
}
.suggestions {
	display: none; 
	position: absolute;
	background-color: white;
    border: 1px solid #99BCE8;
    margin-top: 1px;
}
.suggestions ul li {
	list-style-type: none;
	list-style-position: outside;
	cursor: default;
    padding-left: 2px;
}
.suggestions ul li.selected {
	background-color: #236;
	color: white;
}
.suggestions ul{
	padding: 0px;
	margin: 0px;
}
.suggestions.dselect ul{
	padding-left: 3px;
	font-size: 9pt;
}
.suggestions.dselect ul li {
	height: 14px;
	line-height: 14px;
	font-family: arial;
	padding-top: 1px;
}
.dselect-lookup {
	position: relative; 
	border: none; 
	height: 15px; 
	font-size: 9pt; 
	top: 1px;
	left: 5px; 
	outline: none; 
	width: 100%;
	cursor: default;
}
.dselect-div{
	position: absolute;
    width:47%;
}
.suggestions.dselect{
	overflow-y: auto;
	max-height: 143px;
}
.dselect-info{
	position: relative;
	top: -12px;
	float: right;
	font-size: 10px;
}
.dselect-loader{
	position: relative;
	top: -1px;
	right: 2px;
}



#iframe-form-buttons{
    margin-top: 32px;
}
.x-mask{
    opacity: 0;
} 
/* combo.css */

.i-combo div.i-combo-trigger{
    visibility: hidden;
    position: absolute;
}
.i-combo div.i-combo-trigger.x-form-trigger-over{
    margin-left: 255px !important;
    height: 29px;
    width: 29px;
    margin-top: 11px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
}
.i-combo.i-combo-filter div.i-combo-trigger{
    margin-top: -1px;
}
.i-combo.i-combo-filter{
    overflow: hidden;
}
.i-combo img.i-combo-trigger{
    position: absolute;
    margin-top: 1px;
    margin-right: 0;
    margin-bottom: 0;
    display: none;
}
.i-combo.i-combo-form .i-combo-single, .i-combo.i-combo-filter-single{
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
}

.i-combo.i-combo-filter .i-combo-keyword{
    background: transparent;
}
.i-combo.i-combo-filter.x-form-text{
    padding: 0 !important;
}
.i-combo.i-combo-filter .i-combo-single, .i-combo.i-combo-filter .i-combo-multiple{
    border: 0;
    margin-top: 0;
}


.i-combo .i-combo-keyword.i-combo-keyword-no-results{
    color: red;
}
.i-combo .i-combo-keyword.i-combo-keyword-no-results-within{
    color: #aaaaaa;
}
.i-combo .i-combo-info{
    position: absolute;
    margin-top: -15px;
    font-size: 10px;
    visibility: hidden;
    display: none;
}
.i-combo .i-combo-info .i-combo-count{
    width: 20px;
    display: inline-block;
    text-align: right;
}
.i-combo .i-combo-info .i-combo-loader{
    position: relative;
    top: -1px;
    right: 2px;
}


.i-combo-data ul {
    padding: 0px;
    margin: 0px;
}

.i-combo-data ul li.disabled, ul li.disabled *{
    color: #cccccc;
}
.i-combo-data ul li.disabled[group] {
    font-style: italic;
    background-color: #dfe8f6;
    color: #0554c1;
    font-weight: bold;
}
.i-combo-data ul li.disabled[group] *{
    color: inherit;
}
.i-combo .i-combo-multiple .i-combo-selected-item{
    margin-left: 1px;
    background-color: #DFE8F6;
    padding: 0 2px 0px 2px;
    margin-top: 1px;
    display: inline-block;
}

.i-combo.i-combo-filter .i-combo-multiple .i-combo-selected-item{
    border-top: 1px solid white;
    border-left: 1px solid white;
    margin-top: -1px;
    margin-left: 0px;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete{
    background-repeat: no-repeat;
    background-position: center center;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 2px;
    cursor: pointer;
}
.i-combo .i-combo-multiple .i-combo-keyword{
    margin-left: 1px;
    padding-left: 0;
}
.i-combo.i-combo-filter .i-combo-multiple .i-combo-keyword{
    padding-left: 1px;
}
.i-combo .x-form-text {
    font-size: 11px !important;
    height: 19px !important;
    line-height: 14px !important;
    color: #04408C;
}
.i-combo .x-form-trigger {

}
.i-combo-data ul li .i-combo-color-box{
    width: 14px;
    display: inline-block;
    height: 9px;
}
.i-combo .i-combo-single > .i-combo-color-box{
    margin-right: 1px;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-color-box{
    width: 14px;
    display: inline-block;
    height: 9px;
}
.i-combo .i-combo-single > .i-combo-color-box{
    width: 14px;
    height: 9px;
    display: inline-block;
    margin-left: 3px;
}

.i-combo-of{
    margin-right: 3px;
    margin-left: 3px;
}




































